node_modules/
dist/
.env
.DS_Store
.vscode/
coverage/
npm-debug.log
yarn-error.log
.idea/
*.log
*.tsbuildinfo
build/
.cache/
.next/
out/
.svelte-kit/
public/build/
*.local
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.vite/
*.iml
*.swp
thumbs.db
*.bak
package-lock.json
yarn.lock